.btn{
	display:inline-block;
	line-height: 1;
	padding: 12px 24px;
	border-radius: 6px;
	text-align: center;
	font-size: 0.915rem;
	
	&__blue{
		color: #FFF;
		background-color: $mainBlue;
	}
	&:hover{
		background-color: $btnHoverBlue;
	}
}