.large-hero{
	color: red;
	position: relative;
}

.large-hero__text-content{
	position:absolute;
	top:35%;.large-hero{
    position: relative;
}

.large-hero__text-content{
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    left: 10%;
}

.large-hero__text-content__strip-title{
    padding: 20px 60px;
    border-radius: 6px 6px 0 0;
    background-color: #00a3c8;
    display: inline-block;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 0.85rem;
    margin-bottom: 0;
}

.large-hero__text-content__text{
    background-color: #FFF;
    padding: 50px 40px;
    width: 50%;
    border-radius: 0 6px 6px;
}

.large-hero__text-content__subtitle{
    font-size: 1.75rem;
}
	transform: translateY(-50%);
}
.large-hero__strip-title{
	padding: 20px 40px;
}